.main-chat
  
  .main-chat__group-info
  
    .main-chat__group-info__current-group
      .main-chat__group-info__current-group__name
        test
      .main-chat__group-info__current-group__member
        Menmber:test
    =link_to "Edit", "#", class:'btn'

  .main-chat__list
    
    .main-chat__list__message
      .main-chat__list__message__message-info
        .main-chat__list__message__message-info__user-name
          テスト・テスト
        .main-chat__list__message__message-info__date
          2020/04/01
      .main-chat__list__message__content
        Good morning
        .main-chat__list__message
      .main-chat__list__message__message-info
        .main-chat__list__message__message-info__user-name
          テスト・テスト
        .main-chat__list__message__message-info__date
          2020/04/01
      .main-chat__list__message__content
        Good morning  

  .main-chat__message-form
    
    %form.main-chat__message-form__new-message
      .input-box
        %input{type:"text", class:"input-box__text", placeholder:"type a message"}
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type:"submit", class:"submit-btn"}
